<div class="list_task_todo">
  Lista zadań
  <ul>
    <ng-container *ngFor="let task of todoTasks">
      <ng-container *ngIf="task.userID == user.uid" >
        <ng-container *ngIf="task.isToDo == true" >
          <li>
            <div class="task">
              <div class="task_desc col-6">
                {{task.desc}}
              </div>
              <div class="task_options col-5">
                <button (click)="onDelete(task.taskID)">Usuń</button>
                <button (click)="updateTaskToDone(task.taskID)">Zrobione</button>
                <button (click)="updateTaskToProgress(task.taskID)">Cofnij</button>
              </div>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</div>
