<div class="list_task_todo">
  <ul>
    <ng-container *ngFor="let task of todoTasks">
      <ng-container *ngIf="task.userID == user.uid" >
        <ng-container *ngIf="task.isToDo == true" >
          <li>
            <div class="task">
              <div class="task_desc col-5">
                {{task.desc}}
              </div>
              <div class="task_options col-6">
                <button mat-raised-button class="task_options_button" color="green" (click)="updateTaskToDone(task.taskID)">Zrobione</button>
                <button mat-raised-button color="primary" (click)="updateTaskToProgress(task.taskID)">W trakcie</button>
                <button mat-raised-button color="warn" (click)="onDelete(task.taskID)">Usuń</button>
              </div>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</div>



