<div class="popup">
    <div class="popup_title">
      Usuń zadanie
    </div>
    <div class="popup_message">
      <form #deleteTaskForm="ngForm" class="popup_message_form">
        <div class="popup_buttons">
          <button class="tieto_button cancel" (click)="closeDialog()" routerLink="/dashboard" routerLinkActive="active">Wyjdź</button>
          <button class="tieto_button delete" name="delete-button" type="submit" (click)="onDelete(data.idTask)">Usuń</button>
        </div>
      </form>
    </div>
  </div>