<div class="container-fluid">
    <div class="details">
      <div class="details_background">
  
        <div class="details_background_window">
          <ng-container *ngFor="let task of todoTasks">
  
            <div class="details_background_window_items" *ngIf="task.taskID == idUrl">
              <p  style="display: flex; justify-content: space-between;">Opis zadania : {{task.desc}}
              </p>
              <p *ngIf="task.category" >Kategoria : {{task.category}}</p>
              <p>Data utworzenia : {{task.dataCreated}}</p>
              <p *ngIf="task.dataEnd !== 0" >Data zakończenia : {{task.dataEnd}}</p>
              <p  style="display: flex; justify-content: space-between;">Czas trwania : {{task.duration | DaysHoursMinutesSeconds}}
              </p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  