<div class="list_task_done">
  <ul>
    <ng-container *ngFor="let task of doneTasks">
      <ng-container *ngIf="task.userID == user.uid">
        <ng-container *ngIf="task.isDone == true" >
          <li>
            <div class="task">
              <div class="task_desc col-10">
                <a
                [class.selected]="task === selectedTask"
                (click)="onSelect(task)"
                [routerLink]="['/taskdone', task.taskID]">{{task.desc}}
                </a>
              </div>
              <div class="task_options col-2">
                <button mat-raised-button color="warn" (click)="openDialog(task.taskID)">Usuń</button>
              </div>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</div>
