.list_task_done {
  background: #949d96;
  padding: 1rem;
  border-radius: 0.5rem;
  li {
    background: #c6ccc7;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  margin-top: 1rem;
  &_desc {
    justify-content: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    align-self: center;
  }
  &_options {
    margin-left: 1rem;
    justify-content: right;
    padding: 0.5rem;
    &_button {
      background: #28a745;
      &:focus {
        outline: transparent;
      }
    }
    button {
      margin-left: .5rem;
    }
  }
}
