<div class="list_task_Done">
  Zrobiona zadania
  <ul>
    <ng-container *ngFor="let task of todoTasks">
      <ng-container *ngIf="task.userID == user.uid">
        <ng-container *ngIf="task.isDone == true" >
          <li>
            <div class="task">
              <div class="task_desc col-7">
                {{task.desc}}
              </div>
              <div class="task_options col-4">
                <button mat-raised-button color="primary" (click)="updateTaskToProgress(task.taskID)">Cofnij</button>
                <button mat-raised-button color="warn" (click)="onDelete(task.taskID)">Usuń</button>
              </div>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</div>
