<div class="container-fluid">
  <div class="homepage">
    <div class="homepage_background">

      <div class="homepage_background_test ">
        <ng-container *ngFor="let task of todoTasks">

          <div *ngIf="task.taskID == idUrl">
            <p>Opis zadania : {{task.desc}}
              <button [class.selected]="task === selectedTask"
              (click)="onSelect(task)"
              (click)="openDialog(task.taskID, task.desc)">Edit</button>
            </p>
            <p>Data utworzenia : {{task.dataCreated}}</p>
            <p *ngIf="task.dataEnd !== 0" >Data zakończenia : {{task.dataEnd}}</p>
            <p>Czas trwania : {{task.duration | DaysHoursMinutesSeconds}}
              <button [class.selected]="task === selectedTask"
              (click)="onSelect(task)"
              (click)="openDialog2(task.taskID, task.duration, task.desc)">Open timer</button>
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
