asdasd
Lorem ipsum dolor sit, amet consectetur adipisicing elit. A neque sequi cumque repellat voluptatem asperiores! Nihil unde voluptatum, dolorem deleniti nulla sapiente. Quo aspernatur quod asperiores nobis assumenda suscipit sed?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam optio ipsum natus maiores, obcaecati, modi rem itaque eveniet repellat deserunt quia. Reiciendis ullam nulla est. Quas ratione quo ut veniam.lorem
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur dolorem unde sunt exercitationem, eos labore ipsum facilis minima nobis iure omnis molestiae voluptate, laboriosam nihil quaerat sapiente. Quidem, vel quaerat?l
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quos consequuntur illum ex facilis vero doloribus deleniti repellat ab nostrum in necessitatibus, error accusamus, nesciunt, molestias omnis tempora dolorum? Illo?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perferendis rerum aspernatur rem voluptatum mollitia, deserunt, consequatur incidunt sint expedita dolorem, repellat magnam quibusdam placeat ut vero assumenda hic odit.
asdasd
Lorem ipsum dolor sit, amet consectetur adipisicing elit. A neque sequi cumque repellat voluptatem asperiores! Nihil unde voluptatum, dolorem deleniti nulla sapiente. Quo aspernatur quod asperiores nobis assumenda suscipit sed?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam optio ipsum natus maiores, obcaecati, modi rem itaque eveniet repellat deserunt quia. Reiciendis ullam nulla est. Quas ratione quo ut veniam.lorem
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur dolorem unde sunt exercitationem, eos labore ipsum facilis minima nobis iure omnis molestiae voluptate, laboriosam nihil quaerat sapiente. Quidem, vel quaerat?l
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quos consequuntur illum ex facilis vero doloribus deleniti repellat ab nostrum in necessitatibus, error accusamus, nesciunt, molestias omnis tempora dolorum? Illo?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perferendis rerum aspernatur rem voluptatum mollitia, deserunt, consequatur incidunt sint expedita dolorem, repellat magnam quibusdam placeat ut vero assumenda hic odit.
asdasd
Lorem ipsum dolor sit, amet consectetur adipisicing elit. A neque sequi cumque repellat voluptatem asperiores! Nihil unde voluptatum, dolorem deleniti nulla sapiente. Quo aspernatur quod asperiores nobis assumenda suscipit sed?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam optio ipsum natus maiores, obcaecati, modi rem itaque eveniet repellat deserunt quia. Reiciendis ullam nulla est. Quas ratione quo ut veniam.lorem
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur dolorem unde sunt exercitationem, eos labore ipsum facilis minima nobis iure omnis molestiae voluptate, laboriosam nihil quaerat sapiente. Quidem, vel quaerat?l
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quos consequuntur illum ex facilis vero doloribus deleniti repellat ab nostrum in necessitatibus, error accusamus, nesciunt, molestias omnis tempora dolorum? Illo?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perferendis rerum aspernatur rem voluptatum mollitia, deserunt, consequatur incidunt sint expedita dolorem, repellat magnam quibusdam placeat ut vero assumenda hic odit.

<div class="login">
  <input placeholder="login" [(ngModel)]="credentials.login">
  <input placeholder="password" [(ngModel)]="credentials.password">
  <div>
   <button (click)="login()">Login</button>
    <!-- <button (click)="register()">Register</button> -->
  </div>
  <p>{{ credentials | json }}</p>
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ipsum eos dolor consequatur officiis consequuntur est obcaecati enim excepturi quo illum corrupti rem odit sit veritatis, sequi quae mollitia maxime.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium soluta accusantium aspernatur earum obcaecati natus cumque corrupti, error veniam in. Modi tenetur ea dolorum. Neque eaque minus harum nemo expedita?
</div>


