<!-- <div class="container">
    <app-add-new-task></app-add-new-task>
    <div class="row">
      <div class="col-4">
        <app-todo-list></app-todo-list>
      </div>
      <div class="col-4">
        <app-in-progress-list></app-in-progress-list>
      </div>
      <div class="col-4">
        <app-done-list></app-done-list>
      </div>
    </div>
</div> -->


<div class="container-fluid">
  <div class="homepage">
    <div class="homepage_background">
      <button mat-stroked-button color="green"class="homepage_background_button" (click)="openDialog()">Add new task</button>
      <div class="homepage_background_row">
        <div class="col-4">
          <app-todo-list></app-todo-list>
        </div>
        <div class="col-4">
          <app-in-progress-list></app-in-progress-list>
        </div>
        <div class="col-4">
          <app-done-list></app-done-list>
        </div>
      </div>
    </div>

  </div>
</div>
