.container-fluid {
  width: 100vw;
  height: auto;
  background: #2c3e50;
  background: linear-gradient(#091540, #7692FF);
  padding: 0;
  color: whitesmoke;
  .homepage {
    &_background {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
      &_button {
        margin-top: 6.5rem;
        margin-left: 4.5rem;
        margin-bottom: 2rem;
        width: 12rem;
        height: 3.5rem;
        background: #28a745;
        &:focus {
          outline: transparent;
        }
      }
      &_row {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

