<div class="popup">
    <div class="popup_title">
      Duration time
    </div>
    <div class="popup_message">
      <form #addNewTaskForm="ngForm" autocomplete="off" class="popup_message_form">
        <mat-form-field class="popup_message_form_input">
          <input matInput name="task" ngModel required #task="ngModel" placeholder="Change description" [(ngModel)]="data.descTask" required>
        </mat-form-field>
        <div class="popup_buttons">
          <button class="tieto_button cancel" (click)="closeDialog()">Cancel</button>
          <button class="tieto_button add" type="submit" [disabled]="addNewTaskForm.invalid" (click)="onSubmit(addNewTaskForm)">Change</button>
        </div>
      </form>
    </div>
  </div>
